body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      
      .page {
        display: none;
      }
      
      #signup-message {
        margin-top: 10px;
        color: red;
      }
      
      #profile-page {
        display: none;
      }
      